.hero-container{
    height: auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
}

.hero-wrapper{
    position: relative;
    height: 100%;
}

.hero-left-wrapper{
    padding: 5% 0;
    position: absolute;
    z-index: 4;
    max-width: 50%;
    display: flex;
    height: 100%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    padding-left: 125px;
    justify-content: space-around;
}

.title {
    color: #fff;
    font-size: 50px;
    margin-top: 0;
    font-weight: 600;
}

.subtitle {
    color: #fff;
    font-size: 20px;
    /* margin-top: 54px; */
    font-weight: 600;
}

.hero-btns{
    /* margin-top: 60px; */
}

@media screen and (max-width: 960px){
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px){
    .hero-left{
        min-width: 100%;
        max-width: 100%;
    }
    .hero-right{
        max-width: 100%;
        min-width: 100%;
        height: 100px;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 20px;
    }
    .hero-container{
        flex-direction: column;
        height: fit-content;
    }
}

.hero-right{
     display: flex; 
    position: relative;
    width: 100%;
    top: 0;
    z-index: 0;
}

.image-right{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; 
}