.extra {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extras {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.extra-number{
    font-size: 40px;
    font-weight: 600;
}

.extra-col {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.extra-top {
    font-weight: 500;
    line-height: 18px;
}

.extra-bottom {
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width: 1280px){
    .extras{
        padding-top: 20px;
    }
}

@media screen and (max-width: 960px){
    .extra-left{
        margin-right: 25px;
    }

    .extras{
        padding-top: 30px;
    }
}

@media screen and (max-width: 890px){
    .extras{
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px){
    .extra{
        font-size: 14px
    }
    .extra-left{
        margin-right: 50px;
    }
    .extra-number{
        font-size: 30px;
    }
    .extra-top {
        line-height: 16px;
    }
    
    .extra-bottom {
        line-height: 16px;
    }
}